 .scroll-pane,
 .scroll-bar,
 .scroll-pane>.viewport,
 .scroll-pane .folder {
     -fx-background-color: #1a1a1a;
 }

 .scroll-bar:vertical {
     -fx-background-color: #333333;
 }

 .scroll-bar:vertical .thumb {
     -fx-background-color: #666666;
     -fx-max-width: 3;
 }

 .scroll-bar:vertical .increment-button,
 .scroll-bar:vertical .decrement-button {
     -fx-opacity: 0;
     -fx-max-height: 0;
 }